<!-- Jumbotron -->
<div class="jumbotron">
    <h1>{{headline}}</h1>
    <p class="lead">Det finns miljoner anledningar att registrera dig. Du kan till exempel vinna en massa bacon!</p>
    <p>
        <a class="btn btn-lg btn-success" href="#login" role="button">Logga in</a>
        <a class="btn btn-lg btn-success" href="#register" role="button">Registrera dig idag</a>
    </p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Bacongalan 2014</h2>
        <p>Som tidigare går årets festliga och kändistäta Bacongala av stapeln i Konserthuset den tredje februari. Glöm inte att rösta för att avgöra vilket bacon som får folkets pris i år och som... </p>
        <p><a class="btn btn-primary" href="#" role="button">Läs mer &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Historik</h2>
        <p>Det finns bara två sorters människor i världen. De som älskar bacon. Och de som älskar bacon men inte vill medge det. Bacon upptäcktes av Incafolket redan innan... </p>
        <p><a class="btn btn-primary" href="#" role="button">Läs mer &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Bringing home the bacon</h2>
        <p>Missa inte berättelsen om den triste systemutvecklaren Kenta Knutsson som en dag bestämde sig för att förändra sitt liv. Han beställde hem TV-Shops populära Bacon Dicer och...</p>
        <p><a class="btn btn-primary" href="#" role="button">Läs mer &raquo;</a></p>
    </div>
</div>